/* Vars */
:root {
  --primary: #4d45dc;
  --secondary: #5e6c83;
  --gray: #cdd5e0;
  --lightgray: #f8fafc;
  --black: #000;
  --white: #fff;
}

/* Animations */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadein 0.3s linear;
}

/* Global CSS */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-gray {
  color: var(--gray);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

hr {
  border-color: var(--gray);
}

.bg--lightgray {
  background-color: var(--lightgray);
}

/* loading */
.loading-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  color: var(--primary) !important;
}

/* padding */
.p-20 {
  padding: 20px;
}

/* borders */
.bb--gray {
  border-bottom: 2px solid var(--gray);
}

.bl--gray {
  border-left: 2px solid var(--gray);
}

/* Flex box */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-col-full {
  flex-basis: 100%;
}

.flex-col-one-third {
  flex-basis: 33.33%;
}

.flex-col-two-thirds {
  flex-basis: 66.66%;
}

.flex-col-half {
  flex-basis: 50%;
}

/* width */
.w-100 {
  width: 100%;
}

.mw-400px {
  max-width: 400px;
}

/* Buttons */
.btn {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  border: 2px solid var(--gray);
  border-radius: 10px;
  color: var(--black);
  background-color: var(--white);
  text-align: center;
  transition: all 0.25s;
}

.btn:hover {
  background-color: var(--gray);
}

/* Tabs */
.tab-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
}

.tab-item {
  cursor: pointer;
  padding: 10px 0;
  margin-right: 20px;
  color: var(--secondary);
  position: relative;
}

.tab-item--active {
  color: var(--primary);
}

.tab-item--active::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -2px;
  position: absolute;
  background-color: var(--primary);
}
